@font-face {}

   
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Satisfy');

* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: rgba(0,0,0,.8);
	font-family: Helvetica, arial, sans-serif;
	font-size: 20px;
    background:     
}
header{
    background-color: #FFED74;

}
nav{
    background-color: #E8C66A;
}
#topnav{
    float:left;
}
section {
	padding:5em 0;
}
img{
	width: 200px;
}
h1{
	color: rgb(28, 183,193);
	font-family: 'Marck Script','Satisfy', cursive, serif;
    font-variant: small-caps;
}
span{
    text-transform: uppercase;
}
#intro {
	background: url "#";
	background-size: cover;
	background-repeat: no-repeat;
}
p{
    text-align: justify;
}
article{
    padding: 8em 8em auto;
}
footer{

    background-color: #FF957E;
}
div{
    background-color:  #FFE2B8;
}
#blogposts{
    float: left;
    padding: 1em;
    width: 50%;
}
#Column1 {
     background-color: violet;
    border: 1px black solid;
    padding: 2em;
    float: left;
    width: 50%;
}
#COLUMN2{
    background-color: pink;
    border: 1px black solid;
    padding: 2em;
    float: left;   
    width: 50%;
}
.clearfix::after {
    overflow: both;
}
#COLUMN3{
    background-color: blue;
    float: left;
    padding: 2em;
    border: 1px black solid;
    width: 50%
}
#COLUMN4{
    background-color: lime;
    float: left;
    padding: 2em;
    border: 1px black solid;
    width: 50%
}

