header{
	background-color: gray;
}
nav{
    margin: 0;
    overflow: hidden;
    background-color: #1CB786;
    width: 110%;
    height: 50px;
}

nav a {
    display: center;
    color: #9F1CB7;
    padding: 14px 125px;
    text-decoration: none;
}

nav a:hover {
    background-color: #FA27CD;
}
body{
	text-align: center;
	background: url("WebsiteImages/Health.jpg");
	background-size: 100%, cover, contain;
	color: #1CB786;
	font: Helvetica;
 	line-height: 1.5em;
  	margin: 2em;
}
img{
	border-radius: 50%;
	max-height: 20%;
	max-width: 20%;
}
hr{
	width: 500px;
}
p{
	text-align: center;
}
.transbox{
    position: center;
    top: 20px;
    left: 20px;
    background-color: rgba(100, 100, 100,0.7);
    padding: 20px;
}
	