
body{
	text-align: center;
	background: url(websiteimages/helpscale);
	background-size: cover;
	background-repeat: no-repeat;
}
hr{
	width: 200px;
	color: rgb(56,35,180);
	font: bold;
	}
p{
	color: rgb(26,97,203);
	font-family: Helvetica;
	font-size: 20px;
	margin-right: 150px;
}
img{
	width: 200px;
	height: 200px;
}
h1{
	color: rgb(28, 183,193);
	font-family: book antiqua;
	margin-right: 150px;
	font: bold;
}